{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "spec": true,
        "useBuiltIns": "usage",
        "targets": {
          "node": "6"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-inline-import",
      {
        "extensions": []
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "~tests": "./tests"
        }
      }
    ]
  ],
  "ignore": ["**/*.d.ts", "**/*.d.tsx", "src/@types"]
}
