# nodejs
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.cache
.env
.eslintcache
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.vuepress/dist
.yarn-integrity
bower_components
build/Release
coverage
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log*
pids
typings/
yarn-debug.log*
yarn-error.log*

# app
.mkpm/
.tern-port
.yarn/install-state.gz
.yarn/unplugged
/.dockerignore
/.env
/dist
/es
/lib
/src/generated
/src/package.json
package-lock.json
pnpm-lock.yaml
tsconfig.tsbuildinfo
