CORS=0
DEBUG=1
GRAPHQL_PLAYGROUND=0
PORT=3000
SWAGGER=0
DATABASE_ENGINE=postgres

# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# mongo
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=mongo
