<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form>
      <div>
        <span>
          Username:
        </span>
        <input id="username" type="text" />
      </div>
      <div>
        <span>
          Password:
        </span>
        <input id="password" type="password"  />
      </div>
    </form>
  </body>
</html>
